nav {
 
    width: 100%;
    height: 72px;
    left: 0px;
    top: 0px;
    background-color: #3e3c3c;
    }



.hero-sec-txt{
   
}

.mt-20{
   margin-top:20px;
}

.mr-100{
    margin-right: 100px;
}

.ml-100{
   margin-left: 100px;
}



.float-r{
    float: right;
}

.color-white{
   color:white;
}

.brdr-g{
    border-style: solid;
    border-width: 3px;
    border-color: green;
}
.brdr-r{
    border-style: solid;
    border-width: 3px;
    border-color: red;
}

.w-50{
    width:50%;
}

.w-30{
    width:30%;
}

.w-70{
    width:70%;
}

.line-h{
    line-height: 50px;
}

.img-dim{
    width: 300px;
    height: 300px
}

.bg-black{
    background-color: black;
}

.car-item{
   
}
.car-cap{
    background-color: black;
    opacity: 0.7;
    margin-bottom: 120px;   
    color: whitesmoke;
}

.color-black{
    color: black;
}

.bg-dd{
    background-color: black;
    
}

.hero_sec {
    background-color: #1c1a19;;
    height: 400px;
    width: 100%;
    
  }

  .txt-blue{
      color:darkblue;
  }

  .pt-15{
    padding-top: 30px;
}

.mp-undrline {
    width: 50px;
    height: 2px;
    background-color:darkblue;
  }

  .speakers-item {
    display: flex;
    align-items: flex-start;
  }
  
  .spkr-img {
    width: 300px;
    height:300px;
  }

  .line-h{
      line-height: 20px;
  }

  .color-blue{
    background-color: #27517d;
  }

  .speakers-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
  }

  @media (min-width: 1236px){

    .speakers-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 5px;
        
      }
  }

@media (min-width: 800px){
    
            .pt-15{
                padding-top: 60px;
            }

        .w-md-50{
            width: 60%;
        }

        .hero_sec {
            background-color: #1c1a19;;
            height: 500px;
            width: 100%;
            
          }

          
}